@font-face {
    font-family: 'SEGA LOGO FONT';
    font-style: normal;
    font-weight: normal;
    src: local('SEGA LOGO FONT'), url('SEGA.woff') format('woff');
}
h1 {
    font-family: 'SEGA LOGO FONT';
    font-weight: 200;
    color: #A0EAD0;
}
input {
    border-radius: 10px;
}
input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}